<div class="info-window">
    <div class="title">
        <b>
            <f:format.raw>
                {address.title}
            </f:format.raw>
        </b>
    </div>
    <div class="address">
        <f:format.raw>
            <f:format.htmlentitiesDecode>
                    <f:format.html parseFuncTSPath="lib.parseFunc">
                        {address.infocontent}
                    </f:format.html>
            </f:format.htmlentitiesDecode>
        </f:format.raw>
    </div>
    <f:if condition="{address.maplink}">
        <div class="view-link">
            <a href="https://www.openstreetmap.org/?mlat={address.latitude}&mlon={address.longitude}&zoom=16" target="_blank">
                <span>
                    <f:translate key="LLL:EXT:ns_open_streetmap/Resources/Private/Language/locallang.xlf:tx_nsopenstreetmap_domain_model_address.maplink">
                    </f:translate>
                </span>
            </a>
        </div>
    </f:if>
</div>
